/*!
 * Angular DatePicker & TimePicker plugin for AngularJS
 * Copyright (c) 2016-2018 Rodziu <mateusz.rohde@gmail.com>
 * License: MIT
 */
.angular-datepicker {
  padding: 4px; }

datepicker.input-sm {
  padding: 0 !important; }

.input-group > datepicker > .input-group > input, .input-group > datepicker > .input-group > .input-group-addon, .input-group > datepicker > .input-group > .input-group-btn > * {
  border-radius: 0; }

.table-datepicker {
  width: 240px;
  margin: 0; }
  .table-datepicker > thead > tr > th {
    text-align: center;
    border: 0;
    color: #333; }
  .table-datepicker > thead > tr:first-child > th {
    cursor: pointer; }
    .table-datepicker > thead > tr:first-child > th:hover {
      background: #eee; }
  .table-datepicker > tbody > tr td {
    text-align: center;
    cursor: pointer;
    color: #333;
    border: 0; }
    .table-datepicker > tbody > tr td:hover {
      background: #eee; }
    .table-datepicker > tbody > tr td.old, .table-datepicker > tbody > tr td.fut {
      color: #777; }
    .table-datepicker > tbody > tr td.active {
      color: #fff;
      background: #428bca;
      border-radius: 4px; }
  .table-datepicker > tbody > tr.months > td, .table-datepicker > tbody > tr.years > td {
    line-height: 40px; }
  .table-datepicker .disabled {
    cursor: not-allowed !important;
    color: #aaa !important; }

.angular-timepicker {
  padding: 0; }

timepicker.input-sm {
  padding: 0 !important; }

.input-group > timepicker > .input-group > input, .input-group > timepicker > .input-group > .input-group-addon, .input-group > timepicker > .input-group > .input-group-btn > * {
  border-radius: 0; }

.table-timepicker {
  width: 240px;
  margin: 0; }
  .table-timepicker > tbody > tr td {
    text-align: center;
    border: 0;
    padding: 5px; }
    .table-timepicker > tbody > tr td > a {
      cursor: pointer;
      display: block;
      padding: 4px;
      text-decoration: none !important;
      outline: none !important;
      color: #333 !important; }
      .table-timepicker > tbody > tr td > a:hover {
        background: #eee; }
  .table-timepicker > tbody > tr.timepicker-values > td > a {
    padding: 15px 4px;
    position: relative;
    font-weight: bold; }
  .table-timepicker > tbody > tr.timepicker-values > td + td > a:before {
    content: ":";
    display: block;
    position: absolute;
    left: -8px; }
  .table-timepicker > tbody > tr.hours > td {
    padding: 0; }
