<!DOCTYPE html>
<html data-ng-app="exampleApp" lang="pl">
<head>
	<meta charset="UTF-8">
	<title>AngularJS DatePicker plugin</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../dist/css/angularjs-bootstrap-datepicker.css">
	<!--suppress CssUnusedSymbol -->
	<style type="text/css">
		.page-header {
			margin-top: 20px;
		}
		.form-control.ng-invalid-date {
			border-color: #a94442;
		}
		a[ng-click] { cursor: pointer; }
	</style>
</head>
<body>
<div class="container" data-ng-controller="exampleCtrl">
	<h4 class="page-header">Datepicker examples</h4>
	<div class="row">
		<div class="form-group col-sm-4">
			<p class="help-block">
				Default datepicker
				<a ng-click="isDisabled=!isDisabled">Trigger 'disabled'</a>
			</p>
			<datepicker ng-model="date" ng-disabled="isDisabled"></datepicker>
		</div>
		<div class="form-group col-sm-4">
			<p class="help-block">
				With min-date set to first datepicker value
			</p>
			<datepicker ng-model="date2" min-date="date"></datepicker>
		</div>
		<div class="form-group col-sm-4">
			<p class="help-block">
				With max-date set to second datepicker value
			</p>
			<datepicker ng-model="date3" max-date="date2"></datepicker>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-4">
			<p class="help-block">
				Invalid date
			</p>
			<datepicker ng-model="date4"></datepicker>
		</div>
		<div class="form-group col-sm-4">
			<p class="help-block">
				With 'input-sm' class
			</p>
			<datepicker ng-model="date" class="input-sm"></datepicker>
		</div>
		<div class="form-group col-sm-4">
			<p class="help-block">
				Without icon
			</p>
			<datepicker ng-model="date" show-icon="false"></datepicker>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-4">
			<p class="help-block">
				Hide on pick
			</p>
			<datepicker ng-model="date" hide-on-pick></datepicker>
		</div>
		<div class="form-group col-sm-4">
			<p class="help-block">
				Disabled dates callback
			</p>
			<datepicker ng-model="date" disabled-dates="disabledDates"></datepicker>
		</div>
		<div class="form-group col-sm-4">
			<p class="help-block">
				Month picker
			</p>
			<datepicker ng-model="month" month-picker></datepicker>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<p class="help-block">
					Custom input group
				</p>
				<div class="input-group">
					<span class="input-group-btn"><button class="btn btn-default">Custom</button></span>
					<datepicker ng-model="date"></datepicker>
					<span class="input-group-addon">Custom</span>
				</div>
			</div>
			<div class="form-group">
				<p class="help-block">
					Custom format
				</p>
				<datepicker ng-model="dateFormat" format="j F Y"></datepicker>
			</div>
		</div>
		<div class="form-group col-sm-6">
			<p class="help-block">
				Calendar only
			</p>
			<datepicker-calendar ng-model="date"></datepicker-calendar>
		</div>
	</div>
	<h4 class="page-header">Timepicker examples</h4>
	<div class="row">
		<div class="form-group col-sm-4">
			<p class="help-block">
				Default timepicker {{time}}
			</p>
			<timepicker ng-model="time"></timepicker>
		</div>
		<div class="form-group col-sm-4">
			<p class="help-block">
				Without hours
			</p>
			<timepicker ng-model="time2" pick-hours="false"></timepicker>
		</div>
		<div class="form-group col-sm-4">
			<p class="help-block">
				Only seconds
			</p>
			<timepicker ng-model="time3" pick-hours="false" pick-minutes="false"></timepicker>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-4">
			<p class="help-block">
				Only hours and minutes
			</p>
			<timepicker ng-model="time4" pick-seconds="false"></timepicker>
		</div>
		<div class="form-group col-sm-4">
			<p class="help-block">
				With 'input-sm' class
			</p>
			<timepicker ng-model="time" class="input-sm"></timepicker>
		</div>
		<div class="form-group col-sm-4">
			<p class="help-block">
				Without icon
			</p>
			<timepicker ng-model="time" show-icon="false"></timepicker>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-4">
			<p class="help-block">
				Hide on pick
			</p>
			<timepicker ng-model="time" hide-on-pick></timepicker>
		</div>
		<div class="form-group col-sm-4">
			<p class="help-block">
				Custom input group
			</p>
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default">Custom</button>
				</span>
				<timepicker ng-model="time"></timepicker>
				<span class="input-group-addon">
					Custom
				</span>
			</div>
		</div>
		<div class="form-group col-sm-4">
			<p class="help-block">
				Picker only
			</p>
			<timepicker-drop ng-model="time"></timepicker-drop>
		</div>
	</div>
</div>
<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="../node_modules/date-extensions/dist/date-extensions.js"></script>
<script type="text/javascript" src="../dist/js/angularjs-bootstrap-datepicker.js"></script>
<script type="text/javascript" src="example.js"></script>
</body>
</html>